.button{
    cursor: pointer;
    font:inherit;
    border: none;
    background-color: #01314d;
    color: #fff;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2.5rem;
    font-weight: 500;
}

.button:hover{
    background-color: #000e2c;
}

.icon{
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}
.badge{
    background-color: #1786b9;
    padding: 0.25rem 1rem;
    border-radius: 2.5rem;
    margin-left: 1rem;
    font-weight: 600;
}

.button:hover .badge{
    background-color: #0c5192;
}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0%{
    transform: scale(1);
    }
    10%{
    transform: scale(0.9);
    } 

    30%{
    transform: scale(1.1);
    } 

    50%{
    transform: scale(1.15);
    } 

    100%{
    transform: scale(1);
    } 

}